<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <meta name="metro4:init" content="false"> -->

    <!-- Metro 4 -->
    <style type="text/css">
        img {
            max-width: auto;
            max-height: 100%;
            text-align: center
        }
        div.absolute {
            position: absolute;
            bottom: 10px;
            width: 50%;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
</head>
<style>
    h1 {
        font-family: 'Saira Stencil One', cursive;
    }
</style>

<body>
    <h1>
        We're getting paid for this?
    </h1>

    <p>
    <div class="tiles-grid tiles-group size-8" data-group-title="">
        <div id="testImage0" data-role="tile" data-size="medium" data-effect="animate-slide-right"></div>
        <div id="testImage1" data-role="tile" data-size="medium" data-effect="animate-slide-down"></div>
        <div id="testImage2" data-role="tile" data-size="large" data-effect="animate-slide-up"></div>
        <div id="testImage3" data-role="tile" data-size="medium" data-effect="animate-slide-right"></div>
        <div id="testImage4" data-role="tile" data-size="medium" data-effect="animate-slide-down"></div>
        <div id="testImage5" data-role="tile" data-size="large" data-effect="animate-slide-up"></div>
        <div id="testImage6" data-role="tile" data-size="large" data-effect="animate-slide-up"></div>
        <div id="testImage7" data-role="tile" data-size="large" data-effect="animate-slide-up"></div>
        <div id="testImage8" data-role="tile" data-size="medium" data-effect="animate-slide-right"></div>
        <div id="testImage9" data-role="tile" data-size="medium" data-effect="animate-slide-down"></div>
        <div id="testImage10" data-role="tile" data-size="medium" data-effect="animate-slide-right"></div>
        <div id="testImage11" data-role="tile" data-size="medium" data-effect="animate-slide-down"></div>

    </div>
    </p>
    <div class="absolute">
        <p>
        <div id="output" style="color: red"></div>
        <div id="nouns" style="color: blue"></div>
        </p>
        <p>
        <button onclick="recognition.start()">Start</button>
        <button onclick="recognition.stop()">Stop</button>
        </p>
    </div> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    
    <script>
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    
        socket.on('text', function (data) {
            console.log(data);
            document.getElementById('nouns').innerText = data;
        });
    
        // PICTURE CODE
        socket.on('pics', function (data) {
            for (k = 0; k < 12; k++) {
                var tileid = "testImage"+k;
                var imageDiv = document.getElementById(tileid) 
                imageDiv.innerHTML = '';
            }

            var i = 0;
            var j;
            Object.entries(data).forEach(([title, aPic]) => {
                for (j = 0; j < aPic.length; j++) {
                    var tileid = "testImage"+i;
                    try {
                        var imageDiv = document.getElementById(tileid) 
                        imageDiv.innerHTML = imageDiv.innerHTML + "<div class=\"slide\"><img src=\"" + aPic[j] +"\"><span class=\"branding-bar\">"+title+"</span></div>";
                        console.log(imageDiv.innerHTML)
                    }
                    catch(err) {}
                    i++;
                }
                   
            });
            //loadDaFun()
            //Metro.init()
            Metro.reinitPluginAll()
        });
    
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = false;
        var output = document.getElementById('output');
        recognition.onresult = function (event) {
            var o = [];
            for (var i = 0; i < event.results.length; i++) {
                o.push(event.results[i][0].transcript);
            }

            var part = o.pop();
            output.innerText = part;
    
            socket.emit('text', {data: part});
    

        };
        function loadDaFun() {
            var date = new Date();
            var timestamp = date.getTime();
            var script = document.createElement('script');
            script.src = 'https://cdn.metroui.org.ua/v4/js/metro.min.js?'+timestamp;
            var body = document.getElementsByTagName("body")[0];
            body.appendChild(script);
        }
    </script>   


    <!-- jQuery first, then Metro UI JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</body>
</html>