<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Metro 4 -->
	<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">

	<!--	<link rel="stylesheet" type="text/css" href="metro.css" media="screen" />-->
	<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>-->
	<!--	<script src="metro.js"></script>-->
</head>

<body>
<h1>Imagefy</h1>

<div id="output" style="color: red"></div>

<div id="nouns" style="color: red"></div>

<!--<div>-->

	<button onclick="recognition.start()">Start</button>
	<button onclick="recognition.stop()">Stop</button>
<!--	<p></p>-->
<!--</div>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

<script>
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    socket.on('text', function (data) {
		console.log(data);
		document.getElementById('nouns').innerText = data;//.join(", ");
  	});

  	socket.on('pics', function (data) {
		console.log(data);
		//document.getElementById('nouns').innerText = data.join(", ");
		//document.getElementById("tile1").src = data[0];

		console.log(data.length)
		var i;
		for (i = 0; i < data.length; i++) {
			var tileid = "tile"+i;
			try {
				document.getElementById(tileid).src = data[i] + "?" + new Date().getTime();;
			}
			catch(err) {}
		}


  	});

	var recognition = new webkitSpeechRecognition();
	recognition.continuous = true;
	recognition.interimResults = false;

	var output = document.getElementById('output');

	recognition.onresult = function (event) {
		var o = [];
		for (var i = 0; i < event.results.length; i++) {
			o.push(event.results[i][0].transcript);
		}
		// let p = o.join('.');
		// console.log(p);


		var part = o.pop();
		output.innerText = part;

		socket.emit('text', {data: part});

		naturalLanguage(part, function (e, d) {
			if (e) {
				console.error(e);
			} else {
				console.log(d);
			}
		});
	};

	//recognition.start();

	function naturalLanguage(text, cb) {
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/nl", true);
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.onreadystatechange = function () {
			if (this.readyState != 4) return;

			if (this.status == 200) {
				var data = JSON.parse(this.responseText);
				cb(null, data);
				//console.log(data);
				// we get the returned data
			} else {
				cb(new Error('Error occured'));
			}
			// end of state change: it can be after some time (async)
		};
		xhr.send(JSON.stringify({
			text: text
		}));
	}
</script>


<!--	<div data-role="tile" data-size="wide" data-effect="image-set">-->
<!--		<img id="tile0" src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg">-->
<!--		<img id="tile1" src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg">-->
<!--		<img id="tile2" src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg">-->
<!--		<img id="tile3" src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg">-->
<!--		<img id="tile4" src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg">-->
<!--	</div>-->

	<div class="tiles-grid">
		<div data-role="tile" data-size="small"><img id="tile0"></div>
		<div data-role="tile" data-size="small"><img id="tile1"></div>
		<div data-role="tile" data-size="small" class="col-1 row-2"><img id="tile2"></div>
		<div data-role="tile" data-size="small" class="col-2 row-2"><img id="tile3"></div>
		<div data-role="tile" data-size="medium"><img id="tile4"></div>
		<div data-role="tile" data-size="wide"><img id="tile5"></div>
		<div data-role="tile" data-size="large"><img id="tile6"></div>
		<div data-role="tile" data-size="medium"><img id="tile7"></div>
		<div data-role="tile" data-size="medium"><img id="tile8"></div>
		<div data-role="tile" data-size="wide"><img id="tile9"></div>
	</div>


	<!-- jQuery first, then Metro UI JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

</body>

</html>






<!--<div class="grid" data-group-title="">-->
<!--	<div class="tiles-grid tiles-group size-8" data-group-title="">-->
<!--		<div data-role="tile" data-size="medium" class="col-1 row-1" data-effect="animate-slide-right">-->
<!--			<div class="slide"><img id="tile1" src="https://i.cbc.ca/1.4903758.1542137675!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/a-kinderdijk-windmill.jpg">-->
<!--			</div>-->
<!--			<div class="slide"><img id="tile2" src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg"></div>-->
<!--		</div>-->
<!--		<div data-role="tile" data-size="medium" class="col-3 row-1" data-effect="animate-slide-up">-->
<!--			<div class="slide"><img id="tile3"-->
<!--					src="https://i.cbc.ca/1.4903758.1542137675!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/a-kinderdijk-windmill.jpg">-->
<!--			</div>-->
<!--			<div class="slide"><img id="tile4"-->
<!--					src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg"></div>-->
<!--		</div>-->
<!--		<div data-role="tile" data-size="medium" class="col-1 row-3" data-effect="animate-slide-down">-->
<!--			<div class="slide"><img id="tile5"-->
<!--					src="https://i.cbc.ca/1.4903758.1542137675!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/a-kinderdijk-windmill.jpg">-->
<!--			</div>-->
<!--			<div class="slide"><img id="tile6"-->
<!--					src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg"></div>-->
<!--		</div>-->
<!--		<div data-role="tile" data-size="medium" class="col-3 row-3" data-effect="animate-slide-right">-->
<!--			<div class="slide"><img id="tile7"-->
<!--					src="https://i.cbc.ca/1.4903758.1542137675!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/a-kinderdijk-windmill.jpg">-->
<!--			</div>-->
<!--			<div class="slide"><img id="tile8"-->
<!--					src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg"></div>-->
<!--		</div>-->
<!--		<div data-role="tile" data-size="large" class="col-5 row-1" data-effect="animate-slide-down">-->
<!--			<div class="slide"><img id="tile9"-->
<!--					src="https://i.cbc.ca/1.4903758.1542137675!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/a-kinderdijk-windmill.jpg">-->
<!--			</div>-->
<!--			<div class="slide"><img id="tile10"-->
<!--					src="http://www.steinbachonline.com/images/community/mhv/2012-09-09-1-600x450.jpg"></div>-->
<!--		</div>-->
<!--		-->


<!--	</div>-->
