.container {
	position: relative;
	text-align: center;
	color: white;
}

.text {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 40px;
}

.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}  

.flier > * {
	/* Adjust animation duration to change the element’s speed */
	/* animation: fly 10s linear; */
	top: 0;
	left: 0;
	transform: translateX(100vw);
	position: fixed;
	animation-delay: 1s;
	z-index: 1;
}
	
.movable0  {animation: fly0 10s linear;}
.movable1  {animation: fly1 10s linear;}
.movable2  {animation: fly2 10s linear;}
.movable3  {animation: fly3 10s linear;}
.movable4  {animation: fly4 10s linear;}
.movable5  {animation: fly5 10s linear;}
.movable6  {animation: fly6 10s linear;}
.movable7  {animation: fly7 10s linear;}
.movable8  {animation: fly8 10s linear;}
.movable9  {animation: fly9 10s linear;}
.movable10 {animation: fly10 10s linear;}
.movable11 {animation: fly11 10s linear;}
.movable12 {animation: fly12 10s linear;}
.movable13 {animation: fly13 10s linear;}
.movable14 {animation: fly14 10s linear;}
.movable15 {animation: fly15 10s linear;}
.movable16 {animation: fly16 10s linear;}
.movable17 {animation: fly17 10s linear;}
.movable18 {animation: fly18 10s linear;}
.movable19 {animation: fly19 10s linear;}
.movable20 {animation: fly20 10s linear;}
.movable21 {animation: fly21 10s linear;}
.movable22 {animation: fly22 10s linear;}
.movable23 {animation: fly23 10s linear;}
.movable24 {animation: fly24 10s linear;}
.movable25 {animation: fly25 10s linear;}
.movable26 {animation: fly26 10s linear;}
.movable27 {animation: fly27 10s linear;}
.movable28 {animation: fly28 10s linear;}
.movable29 {animation: fly29 10s linear;}
.movable30 {animation: fly30 10s linear;}
.movable31 {animation: fly31 10s linear;}
.movable32 {animation: fly32 10s linear;}
.movable33 {animation: fly33 10s linear;}
.movable34 {animation: fly34 10s linear;}
.movable35 {animation: fly35 10s linear;}
.movable36 {animation: fly36 10s linear;}
.movable37 {animation: fly37 10s linear;}
.movable38 {animation: fly38 10s linear;}
.movable39 {animation: fly39 10s linear;}
.movable40 {animation: fly40 10s linear;}
.movable41 {animation: fly41 10s linear;}
.movable42 {animation: fly42 10s linear;}
.movable43 {animation: fly43 10s linear;}
.movable44 {animation: fly44 10s linear;}
.movable45 {animation: fly45 10s linear;}
.movable46 {animation: fly46 10s linear;}
.movable47 {animation: fly47 10s linear;}
.movable48 {animation: fly48 10s linear;}
.movable49 {animation: fly49 10s linear;}
.movable50 {animation: fly50 10s linear;}
.movable51 {animation: fly51 10s linear;}
.movable52 {animation: fly52 10s linear;}
.movable53 {animation: fly53 10s linear;}
.movable54 {animation: fly54 10s linear;}
.movable55 {animation: fly55 10s linear;}
.movable56 {animation: fly56 10s linear;}
.movable57 {animation: fly57 10s linear;}
.movable58 {animation: fly58 10s linear;}
.movable59 {animation: fly59 10s linear;}
.movable60 {animation: fly60 10s linear;}
.movable61 {animation: fly61 10s linear;}
.movable62 {animation: fly62 10s linear;}
.movable63 {animation: fly63 10s linear;}
.movable64 {animation: fly64 10s linear;}
.movable65 {animation: fly65 10s linear;}
.movable66 {animation: fly66 10s linear;}
.movable67 {animation: fly67 10s linear;}
.movable68 {animation: fly68 10s linear;}
.movable69 {animation: fly69 10s linear;}
.movable70 {animation: fly70 10s linear;}
.movable71 {animation: fly71 10s linear;}
.movable72 {animation: fly72 10s linear;}
.movable73 {animation: fly73 10s linear;}
.movable74 {animation: fly74 10s linear;}
.movable75 {animation: fly75 10s linear;}
.movable76 {animation: fly76 10s linear;}
.movable77 {animation: fly77 10s linear;}
.movable78 {animation: fly78 10s linear;}
.movable79 {animation: fly79 10s linear;}
.movable80 {animation: fly80 10s linear;}
.movable81 {animation: fly81 10s linear;}
.movable82 {animation: fly82 10s linear;}
.movable83 {animation: fly83 10s linear;}
.movable84 {animation: fly84 10s linear;}
.movable85 {animation: fly85 10s linear;}
.movable86 {animation: fly86 10s linear;}
.movable87 {animation: fly87 10s linear;}
.movable88 {animation: fly88 10s linear;}
.movable89 {animation: fly89 10s linear;}
.movable90 {animation: fly90 10s linear;}
.movable91 {animation: fly91 10s linear;}
.movable92 {animation: fly92 10s linear;}
.movable93 {animation: fly93 10s linear;}
.movable94 {animation: fly94 10s linear;}
.movable95 {animation: fly95 10s linear;}
.movable96 {animation: fly96 10s linear;}
.movable97 {animation: fly97 10s linear;}
.movable98 {animation: fly98 10s linear;}
.movable99 {animation: fly99 10s linear;}
	
@keyframes fly0  {from {display: block;transform: translate(-100%, 0vh)}  to {transform: translate(100vw, 0vh)}}
@keyframes fly2  {from {display: block;transform: translate(-100%, 2vh)}  to {transform: translate(100vw, 2vh)}}
@keyframes fly3  {from {display: block;transform: translate(-100%, 3vh)}  to {transform: translate(100vw, 3vh)}}
@keyframes fly4  {from {display: block;transform: translate(-100%, 4vh)}  to {transform: translate(100vw, 4vh)}}
@keyframes fly5  {from {display: block;transform: translate(-100%, 5vh)}  to {transform: translate(100vw, 5vh)}}
@keyframes fly6  {from {display: block;transform: translate(-100%, 6vh)}  to {transform: translate(100vw, 6vh)}}
@keyframes fly7  {from {display: block;transform: translate(-100%, 7vh)}  to {transform: translate(100vw, 7vh)}}
@keyframes fly8  {from {display: block;transform: translate(-100%, 8vh)}  to {transform: translate(100vw, 8vh)}}
@keyframes fly9  {from {display: block;transform: translate(-100%, 9vh)}  to {transform: translate(100vw, 9vh)}}
@keyframes fly10 {from {display: block;transform: translate(-100%, 10vh)} to {transform: translate(100vw, 10vh)}}
@keyframes fly11 {from {display: block;transform: translate(-100%, 11vh)} to {transform: translate(100vw, 11vh)}}
@keyframes fly12 {from {display: block;transform: translate(-100%, 12vh)} to {transform: translate(100vw, 12vh)}}
@keyframes fly13 {from {display: block;transform: translate(-100%, 13vh)} to {transform: translate(100vw, 13vh)}}
@keyframes fly14 {from {display: block;transform: translate(-100%, 14vh)} to {transform: translate(100vw, 14vh)}}
@keyframes fly15 {from {display: block;transform: translate(-100%, 15vh)} to {transform: translate(100vw, 15vh)}}
@keyframes fly16 {from {display: block;transform: translate(-100%, 16vh)} to {transform: translate(100vw, 16vh)}}
@keyframes fly17 {from {display: block;transform: translate(-100%, 17vh)} to {transform: translate(100vw, 17vh)}}
@keyframes fly18 {from {display: block;transform: translate(-100%, 18vh)} to {transform: translate(100vw, 18vh)}}
@keyframes fly19 {from {display: block;transform: translate(-100%, 19vh)} to {transform: translate(100vw, 19vh)}}
@keyframes fly20 {from {display: block;transform: translate(-100%, 20vh)} to {transform: translate(100vw, 20vh)}}
@keyframes fly21 {from {display: block;transform: translate(-100%, 21vh)} to {transform: translate(100vw, 21vh)}}
@keyframes fly22 {from {display: block;transform: translate(-100%, 22vh)} to {transform: translate(100vw, 22vh)}}
@keyframes fly23 {from {display: block;transform: translate(-100%, 23vh)} to {transform: translate(100vw, 23vh)}}
@keyframes fly24 {from {display: block;transform: translate(-100%, 24vh)} to {transform: translate(100vw, 24vh)}}
@keyframes fly25 {from {display: block;transform: translate(-100%, 25vh)} to {transform: translate(100vw, 25vh)}}
@keyframes fly26 {from {display: block;transform: translate(-100%, 26vh)} to {transform: translate(100vw, 26vh)}}
@keyframes fly27 {from {display: block;transform: translate(-100%, 27vh)} to {transform: translate(100vw, 27vh)}}
@keyframes fly28 {from {display: block;transform: translate(-100%, 28vh)} to {transform: translate(100vw, 28vh)}}
@keyframes fly29 {from {display: block;transform: translate(-100%, 29vh)} to {transform: translate(100vw, 29vh)}}
@keyframes fly30 {from {display: block;transform: translate(-100%, 30vh)} to {transform: translate(100vw, 30vh)}}
@keyframes fly31 {from {display: block;transform: translate(-100%, 31vh)} to {transform: translate(100vw, 31vh)}}
@keyframes fly32 {from {display: block;transform: translate(-100%, 32vh)} to {transform: translate(100vw, 32vh)}}
@keyframes fly33 {from {display: block;transform: translate(-100%, 33vh)} to {transform: translate(100vw, 33vh)}}
@keyframes fly34 {from {display: block;transform: translate(-100%, 34vh)} to {transform: translate(100vw, 34vh)}}
@keyframes fly35 {from {display: block;transform: translate(-100%, 35vh)} to {transform: translate(100vw, 35vh)}}
@keyframes fly36 {from {display: block;transform: translate(-100%, 36vh)} to {transform: translate(100vw, 36vh)}}
@keyframes fly37 {from {display: block;transform: translate(-100%, 37vh)} to {transform: translate(100vw, 37vh)}}
@keyframes fly38 {from {display: block;transform: translate(-100%, 38vh)} to {transform: translate(100vw, 38vh)}}
@keyframes fly39 {from {display: block;transform: translate(-100%, 39vh)} to {transform: translate(100vw, 39vh)}}
@keyframes fly40 {from {display: block;transform: translate(-100%, 40vh)} to {transform: translate(100vw, 40vh)}}
@keyframes fly41 {from {display: block;transform: translate(-100%, 41vh)} to {transform: translate(100vw, 41vh)}}
@keyframes fly42 {from {display: block;transform: translate(-100%, 42vh)} to {transform: translate(100vw, 42vh)}}
@keyframes fly43 {from {display: block;transform: translate(-100%, 43vh)} to {transform: translate(100vw, 43vh)}}
@keyframes fly44 {from {display: block;transform: translate(-100%, 44vh)} to {transform: translate(100vw, 44vh)}}
@keyframes fly45 {from {display: block;transform: translate(-100%, 45vh)} to {transform: translate(100vw, 45vh)}}
@keyframes fly46 {from {display: block;transform: translate(-100%, 46vh)} to {transform: translate(100vw, 46vh)}}
@keyframes fly47 {from {display: block;transform: translate(-100%, 47vh)} to {transform: translate(100vw, 47vh)}}
@keyframes fly48 {from {display: block;transform: translate(-100%, 48vh)} to {transform: translate(100vw, 48vh)}}
@keyframes fly49 {from {display: block;transform: translate(-100%, 49vh)} to {transform: translate(100vw, 49vh)}}
@keyframes fly50 {from {display: block;transform: translate(-100%, 50vh)} to {transform: translate(100vw, 50vh)}}
@keyframes fly51 {from {display: block;transform: translate(-100%, 51vh)} to {transform: translate(100vw, 51vh)}}
@keyframes fly52 {from {display: block;transform: translate(-100%, 52vh)} to {transform: translate(100vw, 52vh)}}
@keyframes fly53 {from {display: block;transform: translate(-100%, 53vh)} to {transform: translate(100vw, 53vh)}}
@keyframes fly54 {from {display: block;transform: translate(-100%, 54vh)} to {transform: translate(100vw, 54vh)}}
@keyframes fly55 {from {display: block;transform: translate(-100%, 55vh)} to {transform: translate(100vw, 55vh)}}
@keyframes fly56 {from {display: block;transform: translate(-100%, 56vh)} to {transform: translate(100vw, 56vh)}}
@keyframes fly57 {from {display: block;transform: translate(-100%, 57vh)} to {transform: translate(100vw, 57vh)}}
@keyframes fly58 {from {display: block;transform: translate(-100%, 58vh)} to {transform: translate(100vw, 58vh)}}
@keyframes fly59 {from {display: block;transform: translate(-100%, 59vh)} to {transform: translate(100vw, 59vh)}}
@keyframes fly60 {from {display: block;transform: translate(-100%, 60vh)} to {transform: translate(100vw, 60vh)}}
@keyframes fly61 {from {display: block;transform: translate(-100%, 61vh)} to {transform: translate(100vw, 61vh)}}
@keyframes fly62 {from {display: block;transform: translate(-100%, 62vh)} to {transform: translate(100vw, 62vh)}}
@keyframes fly63 {from {display: block;transform: translate(-100%, 63vh)} to {transform: translate(100vw, 63vh)}}
@keyframes fly64 {from {display: block;transform: translate(-100%, 64vh)} to {transform: translate(100vw, 64vh)}}
@keyframes fly65 {from {display: block;transform: translate(-100%, 65vh)} to {transform: translate(100vw, 65vh)}}
@keyframes fly66 {from {display: block;transform: translate(-100%, 66vh)} to {transform: translate(100vw, 66vh)}}
@keyframes fly67 {from {display: block;transform: translate(-100%, 67vh)} to {transform: translate(100vw, 67vh)}}
@keyframes fly68 {from {display: block;transform: translate(-100%, 68vh)} to {transform: translate(100vw, 68vh)}}
@keyframes fly69 {from {display: block;transform: translate(-100%, 69vh)} to {transform: translate(100vw, 69vh)}}
@keyframes fly70 {from {display: block;transform: translate(-100%, 70vh)} to {transform: translate(100vw, 70vh)}}
@keyframes fly71 {from {display: block;transform: translate(-100%, 71vh)} to {transform: translate(100vw, 71vh)}}
@keyframes fly72 {from {display: block;transform: translate(-100%, 72vh)} to {transform: translate(100vw, 72vh)}}
@keyframes fly73 {from {display: block;transform: translate(-100%, 73vh)} to {transform: translate(100vw, 73vh)}}
@keyframes fly74 {from {display: block;transform: translate(-100%, 74vh)} to {transform: translate(100vw, 74vh)}}
@keyframes fly75 {from {display: block;transform: translate(-100%, 75vh)} to {transform: translate(100vw, 75vh)}}
@keyframes fly76 {from {display: block;transform: translate(-100%, 76vh)} to {transform: translate(100vw, 76vh)}}
@keyframes fly77 {from {display: block;transform: translate(-100%, 77vh)} to {transform: translate(100vw, 77vh)}}
@keyframes fly78 {from {display: block;transform: translate(-100%, 78vh)} to {transform: translate(100vw, 78vh)}}
@keyframes fly79 {from {display: block;transform: translate(-100%, 79vh)} to {transform: translate(100vw, 79vh)}}
@keyframes fly80 {from {display: block;transform: translate(-100%, 80vh)} to {transform: translate(100vw, 80vh)}}
@keyframes fly81 {from {display: block;transform: translate(-100%, 81vh)} to {transform: translate(100vw, 81vh)}}
@keyframes fly82 {from {display: block;transform: translate(-100%, 82vh)} to {transform: translate(100vw, 82vh)}}
@keyframes fly83 {from {display: block;transform: translate(-100%, 83vh)} to {transform: translate(100vw, 83vh)}}
@keyframes fly84 {from {display: block;transform: translate(-100%, 84vh)} to {transform: translate(100vw, 84vh)}}
@keyframes fly85 {from {display: block;transform: translate(-100%, 85vh)} to {transform: translate(100vw, 85vh)}}
@keyframes fly86 {from {display: block;transform: translate(-100%, 86vh)} to {transform: translate(100vw, 86vh)}}
@keyframes fly87 {from {display: block;transform: translate(-100%, 87vh)} to {transform: translate(100vw, 87vh)}}
@keyframes fly88 {from {display: block;transform: translate(-100%, 88vh)} to {transform: translate(100vw, 88vh)}}
@keyframes fly89 {from {display: block;transform: translate(-100%, 89vh)} to {transform: translate(100vw, 89vh)}}
@keyframes fly90 {from {display: block;transform: translate(-100%, 90vh)} to {transform: translate(100vw, 90vh)}}
@keyframes fly91 {from {display: block;transform: translate(-100%, 91vh)} to {transform: translate(100vw, 91vh)}}
@keyframes fly92 {from {display: block;transform: translate(-100%, 92vh)} to {transform: translate(100vw, 92vh)}}
@keyframes fly93 {from {display: block;transform: translate(-100%, 93vh)} to {transform: translate(100vw, 93vh)}}
@keyframes fly94 {from {display: block;transform: translate(-100%, 94vh)} to {transform: translate(100vw, 94vh)}}
@keyframes fly95 {from {display: block;transform: translate(-100%, 95vh)} to {transform: translate(100vw, 95vh)}}
@keyframes fly96 {from {display: block;transform: translate(-100%, 96vh)} to {transform: translate(100vw, 96vh)}}
@keyframes fly97 {from {display: block;transform: translate(-100%, 97vh)} to {transform: translate(100vw, 97vh)}}
@keyframes fly98 {from {display: block;transform: translate(-100%, 98vh)} to {transform: translate(100vw, 98vh)}}
@keyframes fly99 {from {display: block;transform: translate(-100%, 99vh)} to {transform: translate(100vw, 99vh)}}